{% load staticfiles%}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>


   <script>
   $(function () {
  $('[data-toggle="popover"]').popover()
})
     var infinite = new Waypoint.Infinite({
       element: $('.infinite-container')[0],
       onBeforePageLoad: function () {
         $('.loading').show();
       },
       onAfterPageLoad: function ($items) {
         $('.loading').hide();
       }
     });
   </script>

</body>
</html>
